{% extends "base_generic.html" %}


{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
<!-- Пробегаем по представлению с ингредиентами и составляющими, в каждом ингредиенте есть свои составляющие с точной привязкой. Мы пробегаем по продуктам и проверяем
    есть ли привязка к этому ингридиенту и тогда показываем список. в названии добавляем ссылку на делати. чтобы открыть вкладку с названием этого составляющего
    для этого указываем ссылку на детали в svecha/urls и дальше отображаем id продукта и английское наименование.
    делали этой ссылки прописываем в detail-->
</head>
    <body>
        <div>
            <ul>
                <p>{{product_detail}}</p>
                <h2> <a > <li>{{ product.name }}</li> </h2>
                <h3> <a > <li>{{ product.description }}</li> </h3>
                <h3> <a > <li>{{ product.primechanie }}</li> </h3>

            </ul>
        </div>
{% endblock %}