{% extends "base_generic.html" %}

{% block title %} {{ product.name }} {% endblock %}

{% block content %}
<!-- Пробегаем по представлению с ингредиентами и составляющими, в каждом ингредиенте есть свои составляющие с точной привязкой. Мы пробегаем по продуктам и проверяем
    есть ли привязка к этому ингридиенту и тогда показываем список. в названии добавляем ссылку на делати. чтобы открыть вкладку с названием этого составляющего
    для этого указываем ссылку на детали в svecha/urls и дальше отображаем id продукта и английское наименование.
    делали этой ссылки прописываем в detail-->
<div class="features">
        <h2> {{ product.name }} </h2>
        <h3> {{ product.description }} </h3>
        <h3> {{ product.primechanie }} </h3>
</div>
{% endblock %}