{% extends "base_generic.html" %}

{% block title %} Описание {% endblock %}
<!-- с load  пытался сделать стиль к оглавнению .-->
{% block content %}

 <!-- Указываю категорию. она одна подтягивается по slug  в представлениях. дальше просто пробагаемся по всем продуктам, они там же фильтруются по категории-->
<div class="features">
    <h1>  Категория: </h1>
    <p>{{ing}}</p>
    <a > {{ category}} </a>
    <ul>
        {% for product in products %}
        <a href="{% url 'Svecha:ingredients_detail' product.id product.slug  %}"><li>{{ product.name}} </li> </a>
        {% endfor %}
    </ul>

</div>
{% endblock %}

   <!-- Пробегаем по представлению с ингредиентами и составляющими, в каждом ингредиенте есть свои составляющие с точной привязкой. Мы пробегаем по продуктам и проверяем
    есть ли привязка к этому ингредиенту и тогда показываем список. в названии добавляем ссылку на делати. чтобы открыть вкладку с названием этого составляющего
    для этого указываем ссылку на детали в svecha/urls и дальше отображаем id продукта и английское наименование.
    делали этой ссылки прописываем в detail-->