{% extends "base_generic.html" %}


<!-- с load  пытался сделать стиль к оглавнению .-->
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
 <!-- Указываю категорию. она одна подтягивается по slug  в представлениях. дальше просто пробагаемся по всем продуктам, они там же фильтруются по категории-->
 <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <body>
            <div>
                <h1> <a > Категория: </h1>
                <p>{{ing}}</p>
                    <h2> <a > <li>{{ category}}</li> </h2>
            <ul>
                {% for product in products %}
                   <h3> <li><a href="{% url 'Svecha:ingredients_detail' product.id product.slug  %}">{{ product.name}} </a></li> </h3>
                {% endfor %}
            </ul>

            </div>

   <!-- Пробегаем по представлению с ингредиентами и составляющими, в каждом ингредиенте есть свои составляющие с точной привязкой. Мы пробегаем по продуктам и проверяем
    есть ли привязка к этому ингредиенту и тогда показываем список. в названии добавляем ссылку на делати. чтобы открыть вкладку с названием этого составляющего
    для этого указываем ссылку на детали в svecha/urls и дальше отображаем id продукта и английское наименование.
    делали этой ссылки прописываем в detail-->


{% endblock %}