{% extends "base_generic.html" %}

{% block title %} Описание {% endblock %}
<!-- с load  пытался сделать стиль к оглавнению .-->
{% block content %}

 <!-- Указываю категорию. она одна подтягивается по slug  в представлениях. дальше просто пробегаемся по всем продуктам, они там же фильтруются по категории-->
<div class="features">
    <h2 >  Категория: {{ category}} </h2>
    <ul>
        {% for product in page_obj %}
        <a href="{% url 'Svecha:ingredients_detail' product.id product.slug  %}"><li>{{ product.name}} </li> </a>
        {% endfor %}
    </ul>

    <ul>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"><h4 >Назад</h4></a>
        {% endif %}

            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"><h4 >Следующая</h4> </a>
        {% endif %}
    </ul>
</div>
{% endblock %}

   <!-- Пробегаем по представлению с ингредиентами и составляющими, в каждом ингредиенте есть свои составляющие с точной привязкой. Мы пробегаем по продуктам и проверяем
    есть ли привязка к этому ингредиенту и тогда показываем список. в названии добавляем ссылку на делати. чтобы открыть вкладку с названием этого составляющего
    для этого указываем ссылку на детали в svecha/urls и дальше отображаем id продукта и английское наименование.
    делали этой ссылки прописываем в detail-->