{% extends "base_generic.html" %}

{% block title %} Составляющие {% endblock %}
<!-- с load  пытался сделать стиль к оглавнению .-->
{% block content %}
<div class="features">
    <h1>   Добро пожаловать в игру, в которой можно создать красивую свечу!</h1>
    <p>  Полный перечень всех ингредиентов для создания свечи:</p>

   <!-- Пробегаем по представлению с ингредиентами и составляющими, в каждом ингредиенте есть свои составляющие с точной привязкой. Мы пробегаем по продуктам и проверяем
    есть ли привязка к этому ингредиенту и тогда показываем список. в названии добавляем ссылку на делати. чтобы открыть вкладку с названием этого составляющего
    для этого указываем ссылку на детали в svecha/urls и дальше отображаем id продукта и английское наименование.
    делали этой ссылки прописываем в detail-->

        {{product_list}}
        {% for ingredient in ingredients %}
        <a href="{% url 'Svecha:sostav' ingredient.slug %}"> <li>{{ ingredient.name }} </li></a>
        {% endfor %}

</div>
{% endblock %}


 <!-- убрал из 24 стоки чтобы не дублировать информации
 <li>{{ product.description }}</li>
<li>{{ product.primechanie }}</li>
код чтобы вывести все составляющие каждой категории
<ul>
          {% for product in products %}
            {% if product.ingredients == ingredient %}
                <li><a href="{% url 'Svecha:ingredients_detail' product.id product.slug  %}">{{ product.name}} </a></li>
            {% endif %}
          {% endfor %}
      </ul>

-->