{% extends "base_generic.html" %}


{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
<!-- Пробегаем по представлению с ингредиентами и составляющими, в каждом ингредиенте есть свои составляющие с точной привязкой. Мы пробегаем по продуктам и проверяем
    есть ли привязка к этому ингридиенту и тогда показываем список. в названии добавляем ссылку на делати. чтобы открыть вкладку с названием этого составляющего
    для этого указываем ссылку на детали в svecha/urls и дальше отображаем id продукта и английское наименование.
    делали этой ссылки прописываем в detail-->
</head>
    <body>
        <div>
            <ul>
                 <p>{{s}}</p>
                <h2> <a > <li>{{ product1.name }}</li> </h2>
                <h3> <a > <li>{{ product1.description }}</li> </h3>
                <h3> <a > <li>{{ product1.primechanie }}</li> </h3>
                <h2> <a > <li>{{ product2.name }}</li> </h2>
                <h3> <a > <li>{{ product2.description }}</li> </h3>
                <h3> <a > <li>{{ product2.primechanie }}</li> </h3>
                <h2> <a > <li>{{ product3.name }}</li> </h2>
                <h3> <a > <li>{{ product3.description }}</li> </h3>
                <h3> <a > <li>{{ product3.primechanie }}</li> </h3>
            </ul>
        </div>
{% endblock %}