{% extends "base_generic.html" %}


<!-- с load  пытался сделать стиль к оглавнению .-->
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
 <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<body>

<div class="container">
    <p></p>
    <form method=POST action="{% url 'Svecha:s' temp temp1 temp2 %}">
        {% csrf_token %}

            <table>
            {{ location_list }}



            <table>

                <input type = "Submit" value = "Submit"  >
    </form>



    <!--{%  if submitbutton  == "Submit"  %}
    <li><a href="{% url 'Svecha:s'  temp temp1 temp2 %}">Результат</a></li>
    <h2> <a > <li>{{ aroma }}</li> </h2>
    {% endif %}-->




                {% for product in products %}

                    {% if  temp == product.name   %}

                    <h2> <a > <li>{{ product.name }}</li> </h2>
                    <h3> <a > <li>{{ product.description }}</li> </h3>
                    <h3> <a > <li>{{ product.primechanie }}</li> </h3>
                    {% endif %}

                    {% if temp1 == product.name%}
                    <h2> <a > <li>{{ product.name }}</li> </h2>
                    <h3> <a > <li>{{ product.description }}</li> </h3>
                    <h3> <a > <li>{{ product.primechanie }}</li> </h3>
                    {% endif %}
                    {% if temp2 == product.name %}
                    <h2> <a > <li>{{ product.name }}</li> </h2>
                    <h3> <a > <li>{{ product.description }}</li> </h3>
                    <h3> <a > <li>{{ product.primechanie }}</li> </h3>
                    {% endif %}


                {% endfor %}


<!--    <table>-->

<!--        {% for item in products %}-->
<!--        <tr>-->
<!--            <td>{{ item.ingredients }}</td>-->
<!--            <td>{{ item.name }}</td>-->


<!--        </tr>-->
<!--        {% endfor %}-->
<!--    </table>-->
</div>
</body


{% endblock %}