body {
    background : #41B3A3;
}

aside {
    float: left;
    background : #E27D60;
    width: 20%; /**  ширина текста, позиция на экране этого участва сайта от всего масштаба*/
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #0c5705;

}

aside img {
    width: 120px;   /** размер */
    float: left;

}

aside .logo {
    font-size: 25px;
    margin-left: 10px;    /**  отступ слева*/
    font-weight: bold;      /**  жирный текс*/
    position: relative;         /** перемещение */
    top: 25px;                  /** перемещение вверх + - */
}

aside h3 {
    margin-top: 50px;   /**  отступ сверху*/
    font-size: 28px;    /**  размер шрифта*/
}

aside ul {list-style: none;
}

aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease; /**  плавность увеличения*/
    text-decoration: none;
}

aside ul li:hover, aside ul a:hover {
    color: #FFCC00;
    text-decoration: none; /**  удаление нижнего подчеркивания*/
    transform: scale(1.05) /**  при наведении будет увеличиваться*/
 }
a {
    text-decoration: none;
}


main .features {
    float: left;  /**  позиция текса, слева*/
    color: #fff;
    margin-top: 100px;
    margin-left: 20px;
    text-align: center; /**  расположение самого текста*/
    width: 75%; /**  ширина текста, позиция на экране этого участва сайта от всего масштаба*/
}

main .features h1 { front-size: 50px;} /**  размер шрифта*/
main .features p { max-width: 600px; /**  максимальная ширина*/
    margin: 20px auto; /**  отступ 20 сверху и снизу, по бокам в автомате*/
}
main .features h2 { front-size: 50px;/**  размер шрифта*/
    color: #FFCC00;

}
main .features h3 { front-size: 30px;/**  размер шрифта*/
    color: #FAF5E9;
    margin-top: 30px;
}

main .features li {
    color: #E8A87C;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease; /**  плавность увеличения*/
    text-decoration: none;
    font-size: 30px;
}

main .features li:hover, main .features a:hover {
    color: #FFCC00;
    text-decoration: none; /**  удаление нижнего подчеркивания*/
    transform: scale(1.025) /**  при наведении будет увеличиваться*/
 }
